<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table th:border="1">
        <tr>
            <th>ID</th>
            <th>MarkaCar</th>
            <th>ModelCar</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}">...</td>
            <td th:text="${car.getLabelCar()}">...</td>
            <td th:text="${car.getModelCar()}">...</td>
        </tr>
    </table>

</div>
</body>
</html>